calc/.vs
calc/Library
calc/Logs
calc/obj
calc/Temp
calc/Assets/TextMesh Pro/Documentation
calc/Assets/TextMesh Pro/Documentation.meta
calc/Assets/TextMesh Pro/Examples & Extras
calc/Assets/TextMesh Pro/Examples & Extras.meta
calc/Assets/TextMesh Pro/Fonts
calc/Assets/TextMesh Pro/Fonts.meta
calc/Assets/TextMesh Pro/Sprites
calc/Assets/TextMesh Pro/Sprites.meta
calc/Assets/TextMesh Pro/Shaders
calc/Assets/TextMesh Pro/Shaders.meta
calc/Assets/TextMesh Pro/Resources
calc/Assets/TextMesh Pro/Resources.meta
!calc/Assets/TextMesh Pro/Resources/TMP Settings.asset
calc/WebGLBuild
calc/WindowsBuild
calc/UpgradeLog.htm
calc/calc.sln
calc/Assembly-CSharp.csproj
calc/.vsconfig